#countdownTimer {
  background-color: rgb(0, 0, 0);
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  left: 30%;
  text-align: center;
}
p {
  color: rgb(14, 176, 216);
  padding-left: 100px;
}
body {
  background-color: antiquewhite;
}
